<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated concretecompare -->
      <package
            uri="http://diverse.inria.fr/concretecompare"
            class="concretecompare.ConcretecomparePackage"
            genModel="model/concretecompare.genmodel"/>
   </extension>

</plugin>
