<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated Mul -->
      <package
            uri="http://mul/"
            class="mul.MulPackage"
            genModel="model/Mul.genmodel"/>
   </extension>

</plugin>
