<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated Exp -->
      <package
            uri="http://exp/"
            class="exp.ExpPackage"
            genModel="model/Exp.genmodel"/>
   </extension>

</plugin>
