/.Eval.java._trace
/.EvalExp.java._trace
/.ExpAlg.java._trace
/.ExpEcoreAlgebra.xtendbin
/.Main.java._trace
/.MulAlg.java._trace
/.MulEvalExp.java._trace
/.MulPrintExp.java._trace
/.Print.java._trace
/.PrintExp.java._trace
/Eval.java
/EvalExp.java
/ExpAlg.java
/Main.java
/MulAlg.java
/MulEvalExp.java
/MulPrintExp.java
/Print.java
/PrintExp.java
